.task-header {
  color: #254069;
  font-family: HelveticaNeue;
}
.Task-Date-Container {
  margin-left: 0.4rem;
}

.tool-time-duration {
  width: 100%;
}

.Tool-Time-Sub {
  display: flex;
}

.ToolSesseion-Con > label {
  color: #254069;
  font-family: HelveticaNeue;
}

.tools-duration-parent {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.summary-list-sub {
  border: solid 1px #bfbfbf;
  border-radius: 4px;
  padding-left: 10px;
  display: grid;
}
.summary-list-item-sub {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  height: 40px;
  color: #102646;
  font-size: 0.8rem;
}

.summary-list-header-sub {
  font-family: var(--font-familyNue);
  color: #205fbf;
  font-size: 0.7rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  height: 40px;
}

.summary-list-item-sub-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  height: 40px;
  color: #102646;
  font-size: 0.8rem;
}

.summary-list-header-sub-2 {
  font-family: var(--font-familyNue);
  color: #205fbf;
  font-size: 0.7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
  height: 40px;
  border-bottom: 3px solid #ced0ce;
}

.summary-list-header-sub-2:first-child {
  padding-left: 0.6rem;
}

.summary-list-item-sub .label-basic {
  text-align: center;
}

.summary-list-item-sub-2 .label-basic:first-child {
  padding-left: 0.6rem;
}

.custom-select-priority-task {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: none;
  background-image: none;
  background-color: transparent;
}

.time-picker-container {
  display: flex;
  border: 1px solid #707070;
  border-radius: 8px;
  overflow: hidden;
}
.duration-dropdown2 {
  padding: 11px 20px 11px 10px;
  margin-right: 1rem;
  background-color: transparent;
  color: #102646;
  border: 1px solid #707070;
  border-radius: 8px;
}
.duration-number2 {
  width: 60px;
  margin-right: 8px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #707070;
}
.time-section:last-child {
  border: none;
}
.time-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
  /* padding: 0 8px; */
}

.time-input {
  width: 40px;
  /* padding: 8px; */
  /* margin-right: 5px; */
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  /* height: 4vh; */
}

.time-section label {
  margin-left: 5px;
}

.ToolDetailBTNG {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ToolDetailBTNG button {
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #707070;
  background-color: white;
  color: #555;
}

.ToolDetailBTNG button:nth-child(1) {
  width: 10rem;
}

.ToolDetailBTNG button:nth-child(2) {
  border: 1px solid #007bff;
  background-color: white;
  color: #007bff;
  width: 20rem;
}

.ToolDetailBTNG button:nth-child(2) i {
  margin-right: 5px;
}

.add-ph-parent {
  color: var(--header-text);
}
.BoldL {
  color: #254069;
  font-size: 1rem;
  font-weight: bold;
}
.add-tool-header {
  margin: 0.5rem 0;
  color: #254069;
  font-size: 1rem;
  font-weight: bold;
}

.tool-method {
  margin: 0.75rem 0;
}

.pharma-tool-list {
  margin: 0.75rem 0;
}

.tool-duration {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}

.tool-message {
  margin: 0.75rem 0;
}

.tool-contact {
  margin: 0.75rem 0;
}

.pharma-tool-list {
  display: flex;
  flex-wrap: wrap;
}

.pharma-tool {
  display: flex;
  border-radius: 5px;
  border: solid 1px #205fbf;
  background-color: rgba(32, 95, 191, 0.05);
  width: fit-content;
  margin: 0.5rem 0.5rem 0.5rem 0;
  cursor: pointer;
  color: #205fbf;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
}

@media only screen and (max-width: 690px) {
  .add-ph-parent {
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .tool-duration {
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .ToolDetailBTNG {
    flex-direction: column;
    gap: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .ToolDetailBTNG button:nth-child(2) {
    width: 12rem;
  }
  .summary-list-item-sub {
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.6rem;
    place-items: center;
  }
  .summary-list-header-sub {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}
@media only screen and (max-width: 340px) {
  .duration-dropdown2 {
    padding: 8px 6px 11px 10px;
  }
}
