.left-menu {
  width: 70px;
  height: 100vh;
  background-image: linear-gradient(to bottom, #0e58c7, #1350ac);
  display: flex;
  position: fixed;
  top: 0;
  gap: 8rem;
  flex-direction: column;
  z-index: 111;
}

.left-menu__item--selected {
  border-right: 4px solid orange;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.left-menu__item--help {
  position: absolute;
  bottom: 5px;
  width: 70px;
  height: 70px;
}

.left-menu-icon-container {
  width: 100%;
  margin-top: 4rem;
}

.left-menu__item {
  height: 50px;
  width: 70px;
  margin: 10px 0;
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  cursor: pointer;
}

.left-menu__item--home {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position: 50% 39%;
  background-size: 20%;
}

.left-menu__item--schedule {
  background-image: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: 50% 39%;
  background-size: 20%;
}

.left-menu__item--patients {
  background-image: url(../images/patients.svg);
  background-repeat: no-repeat;
  background-position: 50% 39%;
  background-size: 20%;
}

.left-menu__item--Appointments {
  background-image: url(../images/notification.svg);
  background-repeat: no-repeat;
  background-position: 50% 39%;
  background-size: 20%;
}

.left-menu__item--Tools {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: 50% 39%;
  background-size: 20%;
}

.left-menu__item--settings {
  background-image: url(../images/settings.svg);
  background-repeat: no-repeat;
  background-position: 50% 39%;
  background-size: 20%;
}

.left-menu__item--blog {
  background-image: url(../images/blog-menu.svg);
  background-repeat: no-repeat;
  background-position: 50% 39%;
  background-size: 20%;
}

.left-menu__item--help {
  background-image: url(../images/help-circle.svg);
  background-repeat: no-repeat;
  background-position: 50% 39%;
  background-size: 20%;
}

.left-menu-item-text {
  font-family: Helvetica;
  src: url(../../style/Font/HelveticaNeueMedium.otf);
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  width: 70px;
  position: relative;
  left: 0px;
}

.left-menu__item {
  position: relative;
}

.left-menu__item.active {
  background-color: #0c264d;
  width: 70px;
}

.left-menu__item.active::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: #ff9241;
}

@media (max-width: 768px) {
  .left-menu {
    display: none;
  }
}
